/* Common Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 960px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
}

/* Section Specific Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: darkslategray;
}

/* Style for Header */
header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 5px silver;
}

header .container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .source-link {
  color: inherit;
  text-decoration: none;
  padding: 1px 4px;
  border: 1px solid darkslategray;
  border-radius: 4px;
}

header .brand {
  font-weight: 600;
  font-style: oblique;
  margin-right: auto;
  cursor: default;
}

/* Style for Main Section */
main {
  flex-grow: 1;
}

/* Style for welcome text */
.welcome {
  font-size: x-large;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  line-height: 1.8;
  opacity: 0.75;
  padding: 3rem 1rem;
}

/* Style for Showcase and Books */
.showcase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.book,
.add-book {
  height: 16rem;
  text-align: center;
  opacity: 75%;
  background-color: antiquewhite;
  border: 1px solid burlywood;
  border-radius: 5px;
  padding: 1.25rem 0.75rem 0.75rem 0.75rem;
  display: flex;
  flex-basis: 12rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
  transition: all 200ms ease;
  box-shadow: 1px 2px 3px silver;
}

.book:hover,
.add-book:hover {
  background-color: bisque;
  box-shadow: 2px 3px 10px lightgray;
  transform: scale(1.02);
  opacity: 100%;
}

.book * {
  cursor: default;
}

.book .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.book .author {
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0.8;
}

.book .pages {
  color: grey;
  font-style: italic;
  justify-self: flex-end;
}

.book button {
  max-height: 2rem;
  font: inherit;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  opacity: 0.75;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 300ms;
}

.book button:hover,
.book button:active {
  background-color: seagreen;
  color: white;
}

.book .btn-read-status {
  margin-top: auto;
  color: darkgreen;
  border-color: darkgreen;
}

.book .btn-delete {
  color: firebrick;
  border-color: firebrick;
}

.book .btn-delete:hover,
.book .btn-delete:active {
  background-color: firebrick;
  color: white;
}

.book button:active {
  opacity: 0.75;
}

.add-book {
  font-family: inherit;
  color: black;
  font-size: 4rem;
  font-weight: 100;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  cursor: pointer;
  transition: all 200ms;
  opacity: 0.5;
}

.add-book:hover {
  color: darkgreen;
  font-size: 5rem;
  opacity: 0.75;
}

.add-book span::after {
  content: "Add Book";
  color: darkslategray;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

/* Style for Dialog and Form */
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  background-color: antiquewhite;
  color: darkslategrey;
  width: clamp(15rem, 80%, 25rem);
  padding: 2rem 1.25rem;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
}

dialog .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 100;
  line-height: 0.9;
  height: 2rem;
  width: 2rem;
  vertical-align: text-top;
  text-align: center;
  display: inline-block;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: all 300ms;
  opacity: 0.75;
}

.btn-close:hover,
.btn-close:active {
  color: white;
  background-color: red;
  font-weight: 200;
}

.btn-close:active {
  opacity: 1;
}

form {
  display: flex;
  align-items: center;
  align-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}

label {
  font-weight: 400;
}

label::after {
  content: ":";
}

input,
button {
  flex-basis: 100%;
  height: 2rem;
  font: inherit;
  padding-left: 0.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid;
  border-radius: 3px;
  color: inherit;
  background-color: bisque;
  border: 1px solid darkgoldenrod;
}

input:hover {
  border: 2px solid goldenrod;
}

input:focus {
  border: 1px solid goldenrod;
  outline: 1px solid goldenrod;
}

input:required:invalid {
  border: 1px solid darkgoldenrod;
}

input:not(:placeholder-shown):invalid {
  border: 1px solid red;
  outline: 1px solid red;
}

input:valid {
  border: 1px solid darkgreen;
  outline: 1px solid darkgreen;
}

input[type="checkbox"] {
  flex-basis: 1rem;
  margin-bottom: 0;
  accent-color: bisque;
  border: 1px solid;
}

input[type="checkbox"]:checked {
  accent-color: bisque;
}

input[type="checkbox"] + label::after {
  content: "";
}

form button {
  margin-top: 0.75rem;
  margin-bottom: 0;
  background-color: burlywood;
  color: inherit;
  font-weight: 500;
  height: 2rem;
  opacity: 0.9;
  border: 1px solid burlywood;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

form button:active {
  opacity: 1;
}

/* Style for Footer */
footer p {
  width: 100%;
  height: 20px;
  font-size: 0.825rem;
  text-align: center;
}
